{% extends 'base/base_user.html' %}
{% load static %}
{% block content %}
<div class="container">
<form action="{% url 'axf_api:api_register' %}" method="post" enctype="multipart/form-data" id="my_form">
  <div class="form-group">
    <label for="exampleInputEmail1">用户名</label>
    <input type="text" class="form-control" id="u_name" placeholder="用户名" name="u_name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码</label>
    <input type="password" class="form-control" id="u_pwd" placeholder="密码" name="pwd">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">确认密码</label>
    <input type="password" class="form-control" id="u_confirm_pwd" name="confirm_pwd" placeholder="确认密码">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">邮箱</label>
    <input type="email" class="form-control" id="u_email" placeholder="邮箱" name="email">
  </div>

  <div class="form-group">
    <label for="exampleInputFile">选择头像</label>
    <input type="file" id="exampleInputFile" name="icon">
  </div>

  <button type="submit" class="btn btn-success btn-block">注册</button>
</form>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/md5.js' %}"></script>
    <script type="text/javascript" src="{% static 'axf/user/js/register.js' %}"></script>


{% endblock %}